In [ ]:
import numpy as np
import pandas as pd
import matplotlib as plt

common_player_info = pd.read_csv(r'C:\Users\matis\OneDrive\Documentos\NBA dataset\csv\common_player_info.csv')
draft_combine_stats = pd.read_csv(r'C:\Users\matis\OneDrive\Documentos\NBA dataset\csv\draft_combine_stats.csv')
draft_history = pd.read_csv(r'C:\Users\matis\OneDrive\Documentos\NBA dataset\csv\draft_history.csv')
game = pd.read_csv(r'C:\Users\matis\OneDrive\Documentos\NBA dataset\csv\game.csv')
game_info = pd.read_csv(r'C:\Users\matis\OneDrive\Documentos\NBA dataset\csv\game_info.csv')
game_summary = pd.read_csv(r'C:\Users\matis\OneDrive\Documentos\NBA dataset\csv\game_summary.csv')
inactive_players = pd.read_csv(r'C:\Users\matis\OneDrive\Documentos\NBA dataset\csv\inactive_players.csv')
line_score = pd.read_csv(r'C:\Users\matis\OneDrive\Documentos\NBA dataset\csv\line_score.csv')
officials = pd.read_csv(r'C:\Users\matis\OneDrive\Documentos\NBA dataset\csv\officials.csv')
other_stats = pd.read_csv(r'C:\Users\matis\OneDrive\Documentos\NBA dataset\csv\other_stats.csv')
player = pd.read_csv(r'C:\Users\matis\OneDrive\Documentos\NBA dataset\csv\player.csv')
play_by_play = pd.read_csv(r'C:\Users\matis\OneDrive\Documentos\NBA dataset\csv\play_by_play.csv')
team = pd.read_csv(r'C:\Users\matis\OneDrive\Documentos\NBA dataset\csv\team.csv')
team_details = pd.read_csv(r'C:\Users\matis\OneDrive\Documentos\NBA dataset\csv\team_details.csv')
team_history = pd.read_csv(r'C:\Users\matis\OneDrive\Documentos\NBA dataset\csv\team_history.csv')
team_info_common = pd.read_csv(r'C:\Users\matis\OneDrive\Documentos\NBA dataset\csv\team_info_common.csv')

In [3]:
pd.options.display.max_columns = None
common_player_info.head(5)

,person_id,first_name,last_name,display_first_last,display_last_comma_first,display_fi_last,player_slug,birthdate,school,country,last_affiliation,height,weight,season_exp,jersey,position,rosterstatus,games_played_current_season_flag,team_id,team_name,team_abbreviation,team_code,team_city,playercode,from_year,to_year,dleague_flag,nba_flag,games_played_flag,draft_year,draft_round,draft_number,greatest_75_flag
0,76001,Alaa,Abdelnaby,Alaa Abdelnaby,"Abdelnaby, Alaa",A. Abdelnaby,alaa-abdelnaby,1968-06-24 00:00:00,Duke,USA,Duke/USA,6-10,240.0,5.0,30,Forward,Inactive,N,1610612757,Trail Blazers,POR,blazers,Portland,HISTADD_alaa_abdelnaby,1990.0,1994.0,N,Y,Y,1990,1,25,N
1,76003,Kareem,Abdul-Jabbar,Kareem Abdul-Jabbar,"Abdul-Jabbar, Kareem",K. Abdul-Jabbar,kareem-abdul-jabbar,1947-04-16 00:00:00,UCLA,USA,UCLA/USA,7-2,225.0,20.0,33,Center,Inactive,N,1610612747,Lakers,LAL,lakers,Los Angeles,HISTADD_kareem_abdul-jabbar,1969.0,1988.0,N,Y,Y,1969,1,1,Y
2,1505,Tariq,Abdul-Wahad,Tariq Abdul-Wahad,"Abdul-Wahad, Tariq",T. Abdul-Wahad,tariq-abdul-wahad,1974-11-03 00:00:00,San Jose State,France,San Jose State/France,6-6,235.0,7.0,9,Forward-Guard,Inactive,N,1610612758,Kings,SAC,kings,Sacramento,tariq_abdul-wahad,1997.0,2003.0,N,Y,Y,1997,1,11,N
3,949,Shareef,Abdur-Rahim,Shareef Abdur-Rahim,"Abdur-Rahim, Shareef",S. Abdur-Rahim,shareef-abdur-rahim,1976-12-11 00:00:00,California,USA,California/USA,6-9,245.0,13.0,3,Forward,Inactive,N,1610612763,Grizzlies,VAN,grizzlies,Vancouver,shareef_abdur-rahim,1996.0,2007.0,N,Y,Y,1996,1,3,N
4,76005,Tom,Abernethy,Tom Abernethy,"Abernethy, Tom",T. Abernethy,tom-abernethy,1954-05-06 00:00:00,Indiana,USA,Indiana/USA,6-7,220.0,5.0,5,Forward,Inactive,N,1610612744,Warriors,GOS,warriors,Golden State,HISTADD_tom_abernethy,1976.0,1980.0,N,Y,Y,1976,3,43,N

In [75]:
common_player_info = common_player_info[common_player_info['from_year']>=2013]
common_player_info.shape

(839, 33)

In [74]:
common_player_info.isnull().sum()

person_id                             0
first_name                            0
last_name                             0
display_first_last                    0
display_last_comma_first              0
display_fi_last                       0
player_slug                           0
birthdate                             0
school                               12
country                               0
last_affiliation                      0
height                                6
weight                                6
season_exp                            0
jersey                              222
position                              6
rosterstatus                          0
games_played_current_season_flag      0
team_id                               0
team_name                           221
team_abbreviation                   221
team_code                           221
team_city                           221
playercode                            0
from_year                             0
to_year                               0
dleague_flag                          0
nba_flag                              0
games_played_flag                     0
draft_year                            0
draft_round                          42
draft_number                         43
greatest_75_flag                      0
dtype: int64

In [4]:
pd.options.display.max_columns = None
draft_combine_stats.head(5)

,season,player_id,first_name,last_name,player_name,position,height_wo_shoes,height_wo_shoes_ft_in,height_w_shoes,height_w_shoes_ft_in,weight,wingspan,wingspan_ft_in,standing_reach,standing_reach_ft_in,body_fat_pct,hand_length,hand_width,standing_vertical_leap,max_vertical_leap,lane_agility_time,modified_lane_agility_time,three_quarter_sprint,bench_press,spot_fifteen_corner_left,spot_fifteen_break_left,spot_fifteen_top_key,spot_fifteen_break_right,spot_fifteen_corner_right,spot_college_corner_left,spot_college_break_left,spot_college_top_key,spot_college_break_right,spot_college_corner_right,spot_nba_corner_left,spot_nba_break_left,spot_nba_top_key,spot_nba_break_right,spot_nba_corner_right,off_drib_fifteen_break_left,off_drib_fifteen_top_key,off_drib_fifteen_break_right,off_drib_college_break_left,off_drib_college_top_key,off_drib_college_break_right,on_move_fifteen,on_move_college
0,2001,12033,Adam,Allenspach,Adam Allenspach,C,83.50,6' 11.5'',NaN,NaN,259.0,84.5,7' 0.5'',107.0,8' 11'',12.4,NaN,NaN,28.5,31.0,11.90,NaN,3.40,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2001,2240,Gilbert,Arenas,Gilbert Arenas,SG,74.25,6' 2.25'',NaN,NaN,199.0,81.5,6' 9.5'',99.5,8' 3.5'',5.3,NaN,NaN,31.5,36.0,NaN,NaN,3.25,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2001,2220,Brandon,Armstrong,Brandon Armstrong,SG,75.50,6' 3.5'',NaN,NaN,188.0,81.5,6' 9.5'',99.5,8' 3.5'',9.3,NaN,NaN,30.0,37.0,10.91,NaN,3.20,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2001,2203,Shane,Battier,Shane Battier,SF-PF,80.25,6' 8.25'',NaN,NaN,229.0,82.5,6' 10.5'',105.0,8' 9'',9.3,NaN,NaN,29.5,33.0,10.95,NaN,3.30,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2001,12034,Cookie,Belcher,Cookie Belcher,SG-PG,75.00,6' 3'',NaN,NaN,206.0,80.5,6' 8.5'',99.0,8' 3'',5.3,NaN,NaN,35.0,41.5,11.26,NaN,2.91,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
draft_combine_stats.shape

(1202, 47)

In [78]:
draft_combine_stats.shape
draft_combine_stats.isnull().sum()

season                             0
player_id                          0
first_name                         0
last_name                          0
player_name                        0
position                           5
height_wo_shoes                   49
height_wo_shoes_ft_in             49
height_w_shoes                   194
height_w_shoes_ft_in             194
weight                            50
wingspan                          49
wingspan_ft_in                    49
standing_reach                    50
standing_reach_ft_in              50
body_fat_pct                     199
hand_length                      483
hand_width                       483
standing_vertical_leap           185
max_vertical_leap                185
lane_agility_time                194
modified_lane_agility_time       791
three_quarter_sprint             190
bench_press                      394
spot_fifteen_corner_left        1128
spot_fifteen_break_left         1126
spot_fifteen_top_key            1126
spot_fifteen_break_right        1126
spot_fifteen_corner_right       1126
spot_college_corner_left         957
spot_college_break_left         1036
spot_college_top_key            1036
spot_college_break_right        1036
spot_college_corner_right       1036
spot_nba_corner_left             985
spot_nba_break_left              985
spot_nba_top_key                 985
spot_nba_break_right             985
spot_nba_corner_right            985
off_drib_fifteen_break_left     1036
off_drib_fifteen_top_key        1036
off_drib_fifteen_break_right    1036
off_drib_college_break_left     1092
off_drib_college_top_key        1171
off_drib_college_break_right    1171
on_move_fifteen                 1054
on_move_college                 1086
dtype: int64

In [24]:
pd.options.display.max_columns = None
draft_history.head(5)

,person_id,player_name,season,round_number,round_pick,overall_pick,draft_type,team_id,team_city,team_name,team_abbreviation,organization,organization_type,player_profile_flag
0,79299,Clifton McNeeley,1947,1,1,1,Draft,1610610031,Pittsburgh,Ironmen,PIT,Texas-El Paso,College/University,0
1,78109,Glen Selbo,1947,1,2,2,Draft,1610610035,Toronto,Huskies,HUS,Wisconsin,College/University,1
2,76649,Eddie Ehlers,1947,1,3,3,Draft,1610612738,Boston,Celtics,BOS,Purdue,College/University,1
3,79302,Walt Dropo,1947,1,4,4,Draft,1610610032,Providence,Steamrollers,PRO,Connecticut,College/University,0
4,77048,Dick Holub,1947,1,5,5,Draft,1610612752,New York,Knicks,NYK,Long Island-Brooklyn,College/University,1

In [80]:
draft_history = draft_history[draft_history['season']>=2013]
draft_history.shape
draft_history.isnull().sum()

person_id              0
player_name            0
season                 0
round_number           0
round_pick             0
overall_pick           0
draft_type             0
team_id                0
team_city              0
team_name              0
team_abbreviation      0
organization           2
organization_type      2
player_profile_flag    0
dtype: int64

In [86]:
pd.options.display.max_columns = None
game

,season_id,team_id_home,team_abbreviation_home,team_name_home,game_id,game_date,matchup_home,wl_home,min,fgm_home,fga_home,fg_pct_home,fg3m_home,fg3a_home,fg3_pct_home,ftm_home,fta_home,ft_pct_home,oreb_home,dreb_home,reb_home,ast_home,stl_home,blk_home,tov_home,pf_home,pts_home,plus_minus_home,video_available_home,team_id_away,team_abbreviation_away,team_name_away,matchup_away,wl_away,fgm_away,fga_away,fg_pct_away,fg3m_away,fg3a_away,fg3_pct_away,ftm_away,fta_away,ft_pct_away,oreb_away,dreb_away,reb_away,ast_away,stl_away,blk_away,tov_away,pf_away,pts_away,plus_minus_away,video_available_away,season_type
52071,42012,1610612743,DEN,Denver Nuggets,41200161,2013-04-20,DEN vs. GSW,W,240,38.0,85.0,0.447,3.0,16.0,0.188,18.0,28.0,0.643,7.0,38.0,45.0,16.0,9.0,4.0,11.0,18.0,97.0,2,1,1610612744,GSW,Golden State Warriors,GSW @ DEN,L,38.0,92.0,0.413,8.0,22.0,0.364,11.0,15.0,0.733,13.0,42.0,55.0,27.0,4.0,10.0,18.0,21.0,95.0,-2,1,Playoffs
52072,42012,1610612751,BKN,Brooklyn Nets,41200131,2013-04-20,BKN vs. CHI,W,240,43.0,77.0,0.558,6.0,14.0,0.429,14.0,17.0,0.824,6.0,33.0,39.0,18.0,6.0,5.0,8.0,21.0,106.0,17,1,1610612741,CHI,Chicago Bulls,CHI @ BKN,L,36.0,76.0,0.474,2.0,8.0,0.250,15.0,22.0,0.682,9.0,26.0,35.0,15.0,4.0,5.0,10.0,17.0,89.0,-17,1,Playoffs
52073,42012,1610612752,NYK,New York Knicks,41200111,2013-04-20,NYK vs. BOS,W,240,32.0,79.0,0.405,9.0,25.0,0.360,12.0,15.0,0.800,10.0,30.0,40.0,13.0,15.0,4.0,13.0,23.0,85.0,7,1,1610612738,BOS,Boston Celtics,BOS @ NYK,L,27.0,65.0,0.415,5.0,20.0,0.250,19.0,19.0,1.000,4.0,36.0,40.0,18.0,5.0,5.0,21.0,17.0,78.0,-7,1,Playoffs
52074,42012,1610612746,LAC,Los Angeles Clippers,41200171,2013-04-20,LAC vs. MEM,W,240,41.0,74.0,0.554,7.0,19.0,0.368,23.0,31.0,0.742,14.0,33.0,47.0,20.0,4.0,4.0,13.0,28.0,112.0,21,0,1610612763,MEM,Memphis Grizzlies,MEM @ LAC,L,33.0,71.0,0.465,5.0,12.0,0.417,20.0,25.0,0.800,4.0,19.0,23.0,22.0,3.0,1.0,7.0,29.0,91.0,-21,0,Playoffs
52075,42012,1610612754,IND,Indiana Pacers,41200121,2013-04-21,IND vs. ATL,W,240,35.0,78.0,0.449,7.0,19.0,0.368,30.0,34.0,0.882,15.0,33.0,48.0,23.0,8.0,4.0,14.0,19.0,107.0,17,1,1610612737,ATL,Atlanta Hawks,ATL @ IND,L,38.0,76.0,0.500,7.0,17.0,0.412,7.0,14.0,0.500,6.0,26.0,32.0,23.0,5.0,3.0,16.0,26.0,90.0,-17,1,Playoffs
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65693,42022,1610612748,MIA,Miami Heat,42200403,2023-06-07,MIA vs. DEN,L,240,34.0,92.0,0.370,11.0,35.0,0.314,15.0,19.0,0.789,10.0,23.0,33.0,20.0,7.0,3.0,4.0,22.0,94.0,-15,1,1610612743,DEN,Denver Nuggets,DEN @ MIA,W,41.0,80.0,0.513,5.0,18.0,0.278,22.0,27.0,0.815,13.0,45.0,58.0,28.0,3.0,5.0,14.0,18.0,109.0,15,1,Playoffs
65694,42022,1610612748,MIA,Miami Heat,42200404,2023-06-09,MIA vs. DEN,L,240,35.0,78.0,0.449,8.0,25.0,0.320,17.0,20.0,0.850,8.0,29.0,37.0,23.0,2.0,3.0,15.0,19.0,95.0,-13,1,1610612743,DEN,Denver Nuggets,DEN @ MIA,W,39.0,79.0,0.494,14.0,28.0,0.500,16.0,21.0,0.762,5.0,29.0,34.0,26.0,11.0,7.0,8.0,18.0,108.0,13,1,Playoffs
65695,42022,1610612743,DEN,Denver Nuggets,42200405,2023-06-12,DEN vs. MIA,W,240,38.0,84.0,0.452,5.0,28.0,0.179,13.0,23.0,0.565,11.0,46.0,57.0,21.0,6.0,7.0,15.0,13.0,94.0,5,1,1610612748,MIA,Miami Heat,MIA @ DEN,L,33.0,96.0,0.344,9.0,35.0,0.257,14.0,16.0,0.875,11.0,33.0,44.0,18.0,9.0,7.0,8.0,21.0,89.0,-5,1,Playoffs
65696,32022,1610616834,LBN,Team LeBron,32200001,2023-02-19,LBN vs. GNS,L,221,79.0,132.0,0.598,17.0,60.0,0.283,0.0,0.0,NaN,13.0,32.0,45.0,49.0,7.0,2.0,10.0,5.0,175.0,-9,1,1610616833,GNS,Team Giannis,GNS @ LBN,W,76.0,123.0,0.618,29.0,66.0,0.439,3.0,4.0,0.750,10.0,36.0,46.0,43.0,8.0,1.0,12.0,2.0,184.0,9,1,All-Star
65697,32022,1610616834,LBN,Team LeBron,32200001,2023-02-19,LBN vs. GNS,L,221,79.0,132.0,0.598,17.0,60.0,0.283,0.0,0.0,NaN,13.0,32.0,45.0,49.0,7.0,2.0,10.0,5.0,175.0,-9,1,1610616833,GNS,Team Giannis,GNS @ LBN,W,76.0,123.0,0.618,29.0,66.0,0.439,3.0,4.0,0.750,10.0,36.0,46.0,43.0,8.0,1.0,12.0,2.0,184.0,9,1,All Star

In [84]:
game['game_date'] = pd.to_datetime(game['game_date'])
game = game[game['game_date'] >= '01-01-2013']
game.isnull().sum()

season_id                 0
team_id_home              0
team_abbreviation_home    0
team_name_home            0
game_id                   0
game_date                 0
matchup_home              0
wl_home                   0
min                       0
fgm_home                  0
fga_home                  0
fg_pct_home               0
fg3m_home                 0
fg3a_home                 0
fg3_pct_home              0
ftm_home                  0
fta_home                  0
ft_pct_home               2
oreb_home                 0
dreb_home                 0
reb_home                  0
ast_home                  0
stl_home                  0
blk_home                  0
tov_home                  0
pf_home                   0
pts_home                  0
plus_minus_home           0
video_available_home      0
team_id_away              0
team_abbreviation_away    0
team_name_away            0
matchup_away              0
wl_away                   0
fgm_away                  0
fga_away                  0
fg_pct_away               0
fg3m_away                 0
fg3a_away                 0
fg3_pct_away              0
ftm_away                  0
fta_away                  0
ft_pct_away               0
oreb_away                 0
dreb_away                 0
reb_away                  0
ast_away                  0
stl_away                  0
blk_away                  0
tov_away                  0
pf_away                   0
pts_away                  0
plus_minus_away           0
video_available_away      0
season_type               0
dtype: int64

In [87]:
game.shape

(13627, 55)

In [26]:
pd.options.display.max_columns = None
game_info.head(5)

    game_id            game_date  attendance game_time
0  24600001  1946-11-01 00:00:00         NaN       NaN
1  24600003  1946-11-02 00:00:00         NaN       NaN
2  24600002  1946-11-02 00:00:00         NaN       NaN
3  24600004  1946-11-02 00:00:00         NaN       NaN
4  24600005  1946-11-02 00:00:00         NaN       NaN

In [88]:
game_info['game_date'] = pd.to_datetime(game_info['game_date'])
game_info = game_info[game_info['game_date'] >= '01-01-2013']
game_info.isnull().sum()

game_id         0
game_date       0
attendance    799
game_time     105
dtype: int64

In [90]:
pd.options.display.max_columns = None
game_summary.head(5)

,game_date_est,game_sequence,game_id,game_status_id,game_status_text,gamecode,home_team_id,visitor_team_id,season,live_period,live_pc_time,natl_tv_broadcaster_abbreviation,live_period_time_bcast,wh_status
0,1946-11-01,NaN,24600001,3,NaN,19461101/NYKHUS,1610610035,1610612752,1946,5,NaN,NaN,Q5 -,1
1,1946-11-02,NaN,24600003,3,NaN,19461102/PITBOM,1610610034,1610610031,1946,4,NaN,NaN,Q4 -,1
2,1946-11-02,NaN,24600002,3,NaN,19461102/BOSPRO,1610610032,1610612738,1946,4,NaN,NaN,Q4 -,1
3,1946-11-02,NaN,24600004,3,NaN,19461102/NYKCHS,1610610025,1610612752,1946,4,NaN,NaN,Q4 -,1
4,1946-11-02,NaN,24600005,3,NaN,19461102/WASDEF,1610610028,1610610036,1946,4,NaN,NaN,Q4 -,1

In [91]:
game_summary['game_date_est'] = pd.to_datetime(game_summary['game_date_est'])
game_summary = game_summary[game_summary['game_date_est'] >= '01-01-2013']
game_summary.isnull().sum()

game_date_est                           0
game_sequence                           0
game_id                                 0
game_status_id                          0
game_status_text                        0
gamecode                                0
home_team_id                            0
visitor_team_id                         0
season                                  0
live_period                             0
live_pc_time                        10437
natl_tv_broadcaster_abbreviation     8932
live_period_time_bcast                  0
wh_status                               0
dtype: int64

In [92]:
game_summary.shape

(12459, 14)

In [37]:
game_summary

,game_date_est,game_sequence,game_id,game_status_id,game_status_text,gamecode,home_team_id,visitor_team_id,season,live_period,live_pc_time,natl_tv_broadcaster_abbreviation,live_period_time_bcast,wh_status
0,1946-11-01 00:00:00,NaN,24600001,3,NaN,19461101/NYKHUS,1610610035,1610612752,1946,5,NaN,NaN,Q5 -,1
1,1946-11-02 00:00:00,NaN,24600003,3,NaN,19461102/PITBOM,1610610034,1610610031,1946,4,NaN,NaN,Q4 -,1
2,1946-11-02 00:00:00,NaN,24600002,3,NaN,19461102/BOSPRO,1610610032,1610612738,1946,4,NaN,NaN,Q4 -,1
3,1946-11-02 00:00:00,NaN,24600004,3,NaN,19461102/NYKCHS,1610610025,1610612752,1946,4,NaN,NaN,Q4 -,1
4,1946-11-02 00:00:00,NaN,24600005,3,NaN,19461102/WASDEF,1610610028,1610610036,1946,4,NaN,NaN,Q4 -,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58105,2023-06-07 00:00:00,1.0,42200403,3,Final,20230607/DENMIA,1610612748,1610612743,2022,4,,ABC,Q4 - ABC,1
58106,2023-06-09 00:00:00,1.0,42200404,3,Final,20230609/DENMIA,1610612748,1610612743,2022,4,,ABC,Q4 - ABC,1
58107,2023-06-12 00:00:00,1.0,42200405,3,Final,20230612/MIADEN,1610612743,1610612748,2022,4,,ABC,Q4 - ABC,1
58108,2023-02-19 00:00:00,1.0,32200001,3,Final,20230219/GNSLBN,1610616834,1610616833,2022,4,,TNT/TBS,Q4 - TNT/TBS,1
58109,2023-02-19 00:00:00,1.0,32200001,3,Final,20230219/GNSLBN,1610616834,1610616833,2022,4,,TNT/TBS,Q4 - TNT/TBS,1

In [28]:
pd.options.display.max_columns = None
inactive_players.head(5)

,game_id,player_id,first_name,last_name,jersey_num,team_id,team_city,team_name,team_abbreviation
0,29600034,184,Bobby,Phills,14.0,1610612739,Cleveland,Cavaliers,CLE
1,29600034,781,Will,Perdue,41.0,1610612759,San Antonio,Spurs,SAS
2,29600132,120,Steven,Smith,8.0,1610612737,Atlanta,Hawks,ATL
3,29600203,698,Eddie,Johnson,8.0,1610612754,Indiana,Pacers,IND
4,29600213,32,Clifford,Rozier,44.0,1610612753,Orlando,Magic,ORL

In [93]:
inactive_players.isnull().sum()

game_id               0
player_id             0
first_name            1
last_name             1
jersey_num           43
team_id               0
team_city             0
team_name             0
team_abbreviation     0
dtype: int64

In [94]:
inactive_players.shape

(110191, 9)

In [29]:
pd.options.display.max_columns = None
line_score.head(5)

,game_date_est,game_sequence,game_id,team_id_home,team_abbreviation_home,team_city_name_home,team_nickname_home,team_wins_losses_home,pts_qtr1_home,pts_qtr2_home,pts_qtr3_home,pts_qtr4_home,pts_ot1_home,pts_ot2_home,pts_ot3_home,pts_ot4_home,pts_ot5_home,pts_ot6_home,pts_ot7_home,pts_ot8_home,pts_ot9_home,pts_ot10_home,pts_home,team_id_away,team_abbreviation_away,team_city_name_away,team_nickname_away,team_wins_losses_away,pts_qtr1_away,pts_qtr2_away,pts_qtr3_away,pts_qtr4_away,pts_ot1_away,pts_ot2_away,pts_ot3_away,pts_ot4_away,pts_ot5_away,pts_ot6_away,pts_ot7_away,pts_ot8_away,pts_ot9_away,pts_ot10_away,pts_away
0,1946-11-01 00:00:00,NaN,24600001,1610610035,HUS,Toronto,Huskies,-,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.0,1610612752,NYK,New York,Knicks,-,NaN,NaN,NaN,NaN,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.0
1,1946-11-02 00:00:00,NaN,24600003,1610610034,BOM,St. Louis,Bombers,-,16.0,16.0,18.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.0,1610610031,PIT,Pittsburgh,Ironmen,-,5.0,15.0,17.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.0
2,1946-11-02 00:00:00,NaN,24600002,1610612738,BOS,Boston,Celtics,-,10.0,16.0,14.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.0,1610610032,PRO,Providence,Steamrollers,-,NaN,12.0,18.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0
3,1946-11-02 00:00:00,NaN,24600004,1610610025,CHS,Chicago,Stags,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.0,1610612752,NYK,New York,Knicks,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0
4,1946-11-02 00:00:00,NaN,24600005,1610610036,WAS,Washington,Capitols,-,21.0,4.0,12.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.0,1610610028,DEF,Detroit,Falcons,-,9.0,10.0,10.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0

In [95]:
line_score['game_date_est'] = pd.to_datetime(line_score['game_date_est'])
line_score = line_score[line_score['game_date_est'] >= '01-01-2013']
line_score.isnull().sum()

game_date_est             0
game_sequence             0
game_id                   0
team_id_home              0
team_abbreviation_home    0
team_city_name_home       0
team_nickname_home        0
team_wins_losses_home     0
pts_qtr1_home             0
pts_qtr2_home             0
pts_qtr3_home             0
pts_qtr4_home             0
pts_ot1_home              0
pts_ot2_home              0
pts_ot3_home              0
pts_ot4_home              0
pts_ot5_home              0
pts_ot6_home              0
pts_ot7_home              0
pts_ot8_home              0
pts_ot9_home              0
pts_ot10_home             0
pts_home                  0
team_id_away              0
team_abbreviation_away    0
team_city_name_away       0
team_nickname_away        0
team_wins_losses_away     0
pts_qtr1_away             0
pts_qtr2_away             0
pts_qtr3_away             0
pts_qtr4_away             0
pts_ot1_away              0
pts_ot2_away              0
pts_ot3_away              0
pts_ot4_away              0
pts_ot5_away              0
pts_ot6_away              0
pts_ot7_away              0
pts_ot8_away              0
pts_ot9_away              0
pts_ot10_away             0
pts_away                  0
dtype: int64

In [97]:
line_score.shape

(12410, 43)

In [96]:
line_score

,game_date_est,game_sequence,game_id,team_id_home,team_abbreviation_home,team_city_name_home,team_nickname_home,team_wins_losses_home,pts_qtr1_home,pts_qtr2_home,pts_qtr3_home,pts_qtr4_home,pts_ot1_home,pts_ot2_home,pts_ot3_home,pts_ot4_home,pts_ot5_home,pts_ot6_home,pts_ot7_home,pts_ot8_home,pts_ot9_home,pts_ot10_home,pts_home,team_id_away,team_abbreviation_away,team_city_name_away,team_nickname_away,team_wins_losses_away,pts_qtr1_away,pts_qtr2_away,pts_qtr3_away,pts_qtr4_away,pts_ot1_away,pts_ot2_away,pts_ot3_away,pts_ot4_away,pts_ot5_away,pts_ot6_away,pts_ot7_away,pts_ot8_away,pts_ot9_away,pts_ot10_away,pts_away
45643,2013-04-20,2.0,41200161,1610612744,GSW,Golden State,Warriors,0-1,25.0,23.0,16.0,31.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,95.0,1610612743,DEN,Denver,Nuggets,1-0,28.0,16.0,27.0,26.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,97.0
45644,2013-04-20,3.0,41200131,1610612751,BKN,Brooklyn,Nets,1-0,25.0,35.0,29.0,17.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,106.0,1610612741,CHI,Chicago,Bulls,0-1,14.0,21.0,27.0,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,89.0
45645,2013-04-20,1.0,41200111,1610612752,NYK,New York,Knicks,1-0,26.0,23.0,18.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,85.0,1610612738,BOS,Boston,Celtics,0-1,29.0,24.0,17.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,78.0
45646,2013-04-20,4.0,41200171,1610612763,MEM,Memphis,Grizzlies,0-1,21.0,30.0,18.0,22.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,91.0,1610612746,LAC,Los Angeles,Clippers,1-0,29.0,28.0,18.0,37.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,112.0
45647,2013-04-21,1.0,41200121,1610612754,IND,Indiana,Pacers,1-0,34.0,24.0,26.0,23.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,107.0,1610612737,ATL,Atlanta,Hawks,0-1,26.0,24.0,19.0,21.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,90.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58048,2023-06-07,1.0,42200403,1610612748,MIA,Miami,Heat,1-2,24.0,24.0,20.0,26.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,94.0,1610612743,DEN,Denver,Nuggets,2-1,24.0,29.0,29.0,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,109.0
58049,2023-06-09,1.0,42200404,1610612748,MIA,Miami,Heat,1-3,21.0,30.0,22.0,22.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,95.0,1610612743,DEN,Denver,Nuggets,3-1,20.0,35.0,31.0,22.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,108.0
58050,2023-06-12,1.0,42200405,1610612743,DEN,Denver,Nuggets,4-1,22.0,22.0,26.0,24.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,94.0,1610612748,MIA,Miami,Heat,1-4,24.0,27.0,20.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,89.0
58051,2023-02-19,1.0,32200001,1610616834,LBN,Team,LeBron,0-1,46.0,46.0,49.0,34.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,175.0,1610616833,GNS,Team,Giannis,1-0,46.0,53.0,59.0,26.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,184.0
58052,2023-02-19,1.0,32200001,1610616834,LBN,Team,LeBron,0-1,46.0,46.0,49.0,34.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,175.0,1610616833,GNS,Team,Giannis,1-0,46.0,53.0,59.0,26.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,184.0

In [30]:
pd.options.display.max_columns = None
officials.head(5)

    game_id  official_id first_name  last_name  jersey_num
0  29600059         1140      Bruce  Alexander         9.0
1  29600059         1165       Luis     Grillo         8.0
2  29600059         1153        Joe   Crawford        17.0
3  29600114         1147       Mike   Callahan        24.0
4  29600114         1142       Dick    Bavetta        27.0

In [31]:
pd.options.display.max_columns = None
other_stats.head(5)

,game_id,league_id,team_id_home,team_abbreviation_home,team_city_home,pts_paint_home,pts_2nd_chance_home,pts_fb_home,largest_lead_home,lead_changes,times_tied,team_turnovers_home,total_turnovers_home,team_rebounds_home,pts_off_to_home,team_id_away,team_abbreviation_away,team_city_away,pts_paint_away,pts_2nd_chance_away,pts_fb_away,largest_lead_away,team_turnovers_away,total_turnovers_away,team_rebounds_away,pts_off_to_away
0,29600012,0,1610612756,PHX,Phoenix,44,18,2,1,4,1,0.0,12.0,11.0,NaN,1610612747,LAL,Los Angeles,42,10,13,19,0.0,23.0,11.0,NaN
1,29600005,0,1610612737,ATL,Atlanta,32,9,6,0,0,0,1.0,24.0,7.0,NaN,1610612748,MIA,Miami,32,15,14,16,1.0,19.0,6.0,NaN
2,29600002,0,1610612739,CLE,Cleveland,36,14,6,20,1,1,0.0,15.0,5.0,NaN,1610612751,NJN,New Jersey,26,16,4,2,1.0,22.0,12.0,NaN
3,29600007,0,1610612754,IND,Indiana,34,11,4,10,7,4,0.0,18.0,8.0,NaN,1610612765,DET,Detroit,30,14,7,9,2.0,19.0,10.0,NaN
4,29600013,0,1610612746,LAC,Los Angeles,40,19,2,12,5,4,0.0,20.0,7.0,NaN,1610612744,GSW,Golden State,30,9,2,6,0.0,20.0,7.0,NaN

In [98]:
other_stats.shape

(28271, 26)

In [99]:
other_stats.isnull().sum()

game_id                      0
league_id                    0
team_id_home                 0
team_abbreviation_home       0
team_city_home               0
pts_paint_home               0
pts_2nd_chance_home          0
pts_fb_home                  0
largest_lead_home            0
lead_changes                 0
times_tied                   0
team_turnovers_home          2
total_turnovers_home       316
team_rebounds_home        1998
pts_off_to_home           2123
team_id_away                 0
team_abbreviation_away       0
team_city_away               0
pts_paint_away               0
pts_2nd_chance_away          0
pts_fb_away                  0
largest_lead_away            0
team_turnovers_away          2
total_turnovers_away       316
team_rebounds_away        1998
pts_off_to_away           2123
dtype: int64

In [36]:
pd.options.display.max_columns = None
player.head(5)

      id            full_name first_name     last_name  is_active
0  76001       Alaa Abdelnaby       Alaa     Abdelnaby          0
1  76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz          0
2  76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar          0
3     51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf          0
4   1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad          0

In [100]:
player.isnull().sum()

id            0
full_name     0
first_name    6
last_name     0
is_active     0
dtype: int64

In [ ]:
pd.options.display.max_columns = None
play_by_play.head(5)

,game_id,eventnum,eventmsgtype,eventmsgactiontype,period,wctimestring,pctimestring,homedescription,neutraldescription,visitordescription,score,scoremargin,person1type,player1_id,player1_name,player1_team_id,player1_team_city,player1_team_nickname,player1_team_abbreviation,person2type,player2_id,player2_name,player2_team_id,player2_team_city,player2_team_nickname,player2_team_abbreviation,person3type,player3_id,player3_name,player3_team_id,player3_team_city,player3_team_nickname,player3_team_abbreviation,video_available_flag
0,29600012,0,12,0,1,14:43 PM,12:00,NaN,Start of 1st Period (14:43 PM EST),NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
1,29600012,2,10,0,1,14:50 PM,12:00,Jump Ball O'Neal vs. Kleine: Tip to Cassell,NaN,NaN,NaN,NaN,4.0,406,Shaquille O'Neal,1.610613e+09,Los Angeles,Lakers,LAL,5.0,170,Joe Kleine,1.610613e+09,Phoenix,Suns,PHX,5.0,208,Sam Cassell,1.610613e+09,Phoenix,Suns,PHX,0
2,29600012,3,2,1,1,14:51 PM,11:45,NaN,NaN,MISS Cassell 15' Jump Shot,NaN,NaN,5.0,208,Sam Cassell,1.610613e+09,Phoenix,Suns,PHX,0.0,0,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
3,29600012,4,4,0,1,14:51 PM,11:43,O'Neal REBOUND (Off:0 Def:1),NaN,NaN,NaN,NaN,4.0,406,Shaquille O'Neal,1.610613e+09,Los Angeles,Lakers,LAL,0.0,0,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
4,29600012,5,2,1,1,14:51 PM,11:29,MISS Ceballos 26' 3PT Jump Shot,NaN,NaN,NaN,NaN,4.0,76,Cedric Ceballos,1.610613e+09,Los Angeles,Lakers,LAL,0.0,0,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
5,29600012,6,4,0,1,14:51 PM,11:27,NaN,NaN,Cassell REBOUND (Off:0 Def:1),NaN,NaN,5.0,208,Sam Cassell,1.610613e+09,Phoenix,Suns,PHX,0.0,0,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
6,29600012,7,6,1,1,14:51 PM,11:14,Van Exel P.FOUL (P1.T1),NaN,NaN,NaN,NaN,4.0,89,Nick Van Exel,1.610613e+09,Los Angeles,Lakers,LAL,0.0,0,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
7,29600012,8,5,1,1,14:52 PM,11:08,NaN,NaN,Cassell Bad Pass Turnover (P1.T1),NaN,NaN,5.0,208,Sam Cassell,1.610613e+09,Phoenix,Suns,PHX,0.0,0,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
8,29600012,9,2,5,1,14:52 PM,10:49,MISS Ceballos 1' Layup,NaN,Horry BLOCK (1 BLK),NaN,NaN,4.0,76,Cedric Ceballos,1.610613e+09,Los Angeles,Lakers,LAL,0.0,0,NaN,NaN,NaN,NaN,NaN,5.0,109,Robert Horry,1.610613e+09,Phoenix,Suns,PHX,0
9,29600012,10,4,0,1,14:52 PM,10:49,LAKERS Rebound,NaN,NaN,NaN,NaN,2.0,1610612747,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
10,29600012,11,5,2,1,14:52 PM,10:45,Ceballos Lost Ball Turnover (P1.T1),NaN,Horry STEAL (1 STL),NaN,NaN,4.0,76,Cedric Ceballos,1.610613e+09,Los Angeles,Lakers,LAL,5.0,109,Robert Horry,1.610613e+09,Phoenix,Suns,PHX,0.0,0,NaN,NaN,NaN,NaN,NaN,0
11,29600012,12,5,1,1,14:52 PM,10:42,Van Exel STEAL (1 STL),NaN,Horry Bad Pass Turnover (P1.T2),NaN,NaN,5.0,109,Robert Horry,1.610613e+09,Phoenix,Suns,PHX,4.0,89,Nick Van Exel,1.610613e+09,Los Angeles,Lakers,LAL,0.0,0,NaN,NaN,NaN,NaN,NaN,0
12,29600012,13,1,8,1,14:53 PM,10:40,O'Neal Slam Dunk (2 PTS) (Van Exel 1 AST),NaN,NaN,0 - 2,2,4.0,406,Shaquille O'Neal,1.610613e+09,Los Angeles,Lakers,LAL,4.0,89,Nick Van Exel,1.610613e+09,Los Angeles,Lakers,LAL,0.0,0,NaN,NaN,NaN,NaN,NaN,0
13,29600012,14,2,1,1,14:53 PM,10:19,NaN,NaN,MISS Kleine 11' Jump Shot,NaN,NaN,5.0,170,Joe Kleine,1.610613e+09,Phoenix,Suns,PHX,0.0,0,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0
14,29600012,15,4,0,1,14:53 PM,10:18,Ceballos REBOUND (Off:0 Def:1),NaN,NaN,NaN,NaN,4.0,76,Cedric Ceballos,1.610613e+09,Los Angeles,Lakers,LAL,0.0,0,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,0

In [101]:
play_by_play.shape

(13592899, 34)

In [102]:
play_by_play.isnull().sum()

game_id                             0
eventnum                            0
eventmsgtype                        0
eventmsgactiontype                  0
period                              0
wctimestring                      950
pctimestring                        0
homedescription               6530241
neutraldescription           13273327
visitordescription            6634527
score                        10028436
scoremargin                  10028436
person1type                      3298
player1_id                          0
player1_name                  1208875
player1_team_id               1215858
player1_team_city             1215858
player1_team_nickname         1215858
player1_team_abbreviation     1215858
person2type                         0
player2_id                          0
player2_name                  9683745
player2_team_id               9660454
player2_team_city             9660454
player2_team_nickname         9660454
player2_team_abbreviation     9660454
person3type                         0
player3_id                          0
player3_name                 13251785
player3_team_id              13246931
player3_team_city            13246931
player3_team_nickname        13246931
player3_team_abbreviation    13246931
video_available_flag                0
dtype: int64

In [35]:
pd.options.display.max_columns = None
team.head(5)

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Atlanta,1949.0
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946.0
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970.0
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002.0
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966.0

In [104]:
team.isnull().sum()

id              0
full_name       0
abbreviation    0
nickname        0
city            0
state           0
year_founded    0
dtype: int64

In [34]:
pd.options.display.max_columns = None
team_details.head(5)

,team_id,abbreviation,nickname,yearfounded,city,arena,arenacapacity,owner,generalmanager,headcoach,dleagueaffiliation,facebook,instagram,twitter
0,1610612737,ATL,Hawks,1949.0,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Quin Snyder,College Park Skyhawks,https://www.facebook.com/hawks,https://instagram.com/atlhawks,https://twitter.com/ATLHawks
1,1610612741,CHI,Bulls,1966.0,Chicago,United Center,21711.0,Michael Reinsdorf,Arturas Karnisovas,Billy Donovan,Windy City Bulls,https://www.facebook.com/chicagobulls,https://instagram.com/chicagobulls,https://twitter.com/chicagobulls
2,1610612742,DAL,Mavericks,1980.0,Dallas,American Airlines Center,19200.0,Mark Cuban,Nico Harrison,Jason Kidd,Texas Legends,https://www.facebook.com/dallasmavs,https://instagram.com/dallasmavs,https://twitter.com/dallasmavs
3,1610612743,DEN,Nuggets,1976.0,Denver,Ball Arena,NaN,Stan Kroenke,Calvin Booth,Michael Malone,Grand Rapids Gold,https://www.facebook.com/DenverNuggets,https://instagram.com/nuggets,https://twitter.com/nuggets
4,1610612744,GSW,Warriors,1946.0,Golden State,Chase Center,NaN,Joe Lacob,Bob Myers,Steve Kerr,Santa Cruz Warriors,https://www.facebook.com/warriors,https://instagram.com/warriors,https://twitter.com/warriors

In [33]:
pd.options.display.max_columns = None
team_history.head(5)

      team_id        city    nickname  year_founded  year_active_till
0  1610612737     Atlanta       Hawks          1968              2019
1  1610612737   St. Louis       Hawks          1955              1967
2  1610612737   Milwaukee       Hawks          1951              1954
3  1610612737  Tri-Cities  Blackhawks          1949              1950
4  1610612741     Chicago       Bulls          1966              2019

In [32]:
pd.options.display.max_columns = None
team_info_common.head(5)

Empty DataFrame
Columns: [team_id, season_year, team_city, team_name, team_abbreviation, team_conference, team_division, team_code, team_slug, w, l, pct, conf_rank, div_rank, min_year, max_year, league_id, season_id, pts_rank, pts_pg, reb_rank, reb_pg, ast_rank, ast_pg, opp_pts_rank, opp_pts_pg]
Index: []

In [72]:
common_player_info.shape

(4171, 33)

In [38]:
common_player_info.isnull().sum()

person_id                             0
first_name                            0
last_name                             0
display_first_last                    0
display_last_comma_first              0
display_fi_last                       0
player_slug                           0
birthdate                             0
school                               15
country                               1
last_affiliation                      0
height                               96
weight                              100
season_exp                            0
jersey                              980
position                             63
rosterstatus                          0
games_played_current_season_flag      0
team_id                               0
team_name                           702
team_abbreviation                   702
team_code                           702
team_city                           702
playercode                            1
from_year                            15
to_year                              15
dleague_flag                          0
nba_flag                              0
games_played_flag                     0
draft_year                            0
draft_round                         164
draft_number                        223
greatest_75_flag                      0
dtype: int64

In [57]:
draft_combine_stats.shape

(1202, 47)

In [39]:
draft_combine_stats.isnull().sum()

season                             0
player_id                          0
first_name                         0
last_name                          0
player_name                        0
position                           5
height_wo_shoes                   49
height_wo_shoes_ft_in             49
height_w_shoes                   194
height_w_shoes_ft_in             194
weight                            50
wingspan                          49
wingspan_ft_in                    49
standing_reach                    50
standing_reach_ft_in              50
body_fat_pct                     199
hand_length                      483
hand_width                       483
standing_vertical_leap           185
max_vertical_leap                185
lane_agility_time                194
modified_lane_agility_time       791
three_quarter_sprint             190
bench_press                      394
spot_fifteen_corner_left        1128
spot_fifteen_break_left         1126
spot_fifteen_top_key            1126
spot_fifteen_break_right        1126
spot_fifteen_corner_right       1126
spot_college_corner_left         957
spot_college_break_left         1036
spot_college_top_key            1036
spot_college_break_right        1036
spot_college_corner_right       1036
spot_nba_corner_left             985
spot_nba_break_left              985
spot_nba_top_key                 985
spot_nba_break_right             985
spot_nba_corner_right            985
off_drib_fifteen_break_left     1036
off_drib_fifteen_top_key        1036
off_drib_fifteen_break_right    1036
off_drib_college_break_left     1092
off_drib_college_top_key        1171
off_drib_college_break_right    1171
on_move_fifteen                 1054
on_move_college                 1086
dtype: int64

In [58]:
draft_history.shape

(7990, 14)

In [41]:
draft_history.isnull().sum()

person_id               0
player_name             0
season                  0
round_number            0
round_pick              0
overall_pick            0
draft_type              0
team_id                 0
team_city               0
team_name               0
team_abbreviation       0
organization           19
organization_type      19
player_profile_flag     0
dtype: int64

In [59]:
game.shape

(65698, 55)

In [42]:
game.isnull().sum()

season_id                     0
team_id_home                  0
team_abbreviation_home        0
team_name_home                0
game_id                       0
game_date                     0
matchup_home                  0
wl_home                       2
min                           0
fgm_home                     13
fga_home                  15447
fg_pct_home               15490
fg3m_home                 13218
fg3a_home                 18683
fg3_pct_home              19074
ftm_home                     16
fta_home                   3004
ft_pct_home                3009
oreb_home                 18936
dreb_home                 18999
reb_home                  15729
ast_home                  15805
stl_home                  18849
blk_home                  18626
tov_home                  18684
pf_home                    2856
pts_home                      0
plus_minus_home               0
video_available_home          0
team_id_away                  0
team_abbreviation_away        0
team_name_away                0
matchup_away                  0
wl_away                       2
fgm_away                     13
fga_away                  15447
fg_pct_away               15489
fg3m_away                 13218
fg3a_away                 18683
fg3_pct_away              18962
ftm_away                     13
fta_away                   3004
ft_pct_away                3006
oreb_away                 18936
dreb_away                 18998
reb_away                  15725
ast_away                  15801
stl_away                  18849
blk_away                  18625
tov_away                  18685
pf_away                    2851
pts_away                      0
plus_minus_away               0
video_available_away          0
season_type                   0
dtype: int64

In [60]:
game_info.shape

(58053, 4)

In [43]:
game_info.isnull().sum()

game_id           0
game_date         0
attendance     5380
game_time     28111
dtype: int64

In [61]:
game_summary.shape

(58110, 14)

In [44]:
game_summary.isnull().sum()

game_date_est                           0
game_sequence                       25532
game_id                                 0
game_status_id                          0
game_status_text                    25986
gamecode                                0
home_team_id                            0
visitor_team_id                         0
season                                  0
live_period                             0
live_pc_time                        56086
natl_tv_broadcaster_abbreviation    51907
live_period_time_bcast                  0
wh_status                               0
dtype: int64

In [62]:
inactive_players.shape

(110191, 9)

In [45]:
inactive_players.isnull().sum()

game_id               0
player_id             0
first_name            1
last_name             1
jersey_num           43
team_id               0
team_city             0
team_name             0
team_abbreviation     0
dtype: int64

In [63]:
line_score.shape

(58053, 43)

In [46]:
line_score.isnull().sum()

game_date_est                 0
game_sequence             25532
game_id                       0
team_id_home                  0
team_abbreviation_home        0
team_city_name_home           0
team_nickname_home            0
team_wins_losses_home         0
pts_qtr1_home              1004
pts_qtr2_home              1013
pts_qtr3_home              1045
pts_qtr4_home              1044
pts_ot1_home              25759
pts_ot2_home              27051
pts_ot3_home              27243
pts_ot4_home              27270
pts_ot5_home              45577
pts_ot6_home              45578
pts_ot7_home              45578
pts_ot8_home              45578
pts_ot9_home              45578
pts_ot10_home             45578
pts_home                      0
team_id_away                  0
team_abbreviation_away        0
team_city_name_away           0
team_nickname_away            0
team_wins_losses_away         0
pts_qtr1_away              1010
pts_qtr2_away              1013
pts_qtr3_away              1046
pts_qtr4_away              1046
pts_ot1_away              25759
pts_ot2_away              27051
pts_ot3_away              27243
pts_ot4_away              27270
pts_ot5_away              45577
pts_ot6_away              45578
pts_ot7_away              45578
pts_ot8_away              45578
pts_ot9_away              45578
pts_ot10_away             45578
pts_away                      0
dtype: int64

In [64]:
officials.shape

(70971, 5)

In [47]:
officials.isnull().sum()

game_id          0
official_id      0
first_name       0
last_name        0
jersey_num     190
dtype: int64

In [65]:
other_stats.shape

(28271, 26)

In [48]:
other_stats.isnull().sum()

game_id                      0
league_id                    0
team_id_home                 0
team_abbreviation_home       0
team_city_home               0
pts_paint_home               0
pts_2nd_chance_home          0
pts_fb_home                  0
largest_lead_home            0
lead_changes                 0
times_tied                   0
team_turnovers_home          2
total_turnovers_home       316
team_rebounds_home        1998
pts_off_to_home           2123
team_id_away                 0
team_abbreviation_away       0
team_city_away               0
pts_paint_away               0
pts_2nd_chance_away          0
pts_fb_away                  0
largest_lead_away            0
team_turnovers_away          2
total_turnovers_away       316
team_rebounds_away        1998
pts_off_to_away           2123
dtype: int64

In [66]:
player.shape

(4831, 5)

In [50]:
player.isnull().sum()

id            0
full_name     0
first_name    6
last_name     0
is_active     0
dtype: int64

In [67]:
play_by_play.shape

(13592899, 34)

In [51]:
play_by_play.isnull().sum()

game_id                             0
eventnum                            0
eventmsgtype                        0
eventmsgactiontype                  0
period                              0
wctimestring                      950
pctimestring                        0
homedescription               6530241
neutraldescription           13273327
visitordescription            6634527
score                        10028436
scoremargin                  10028436
person1type                      3298
player1_id                          0
player1_name                  1208875
player1_team_id               1215858
player1_team_city             1215858
player1_team_nickname         1215858
player1_team_abbreviation     1215858
person2type                         0
player2_id                          0
player2_name                  9683745
player2_team_id               9660454
player2_team_city             9660454
player2_team_nickname         9660454
player2_team_abbreviation     9660454
person3type                         0
player3_id                          0
player3_name                 13251785
player3_team_id              13246931
player3_team_city            13246931
player3_team_nickname        13246931
player3_team_abbreviation    13246931
video_available_flag                0
dtype: int64

In [68]:
team.shape

(30, 7)

In [52]:
team.isnull().sum()

id              0
full_name       0
abbreviation    0
nickname        0
city            0
state           0
year_founded    0
dtype: int64

In [69]:
team_details.shape

(25, 14)

In [53]:
team_details.isnull().sum()

team_id               0
abbreviation          0
nickname              0
yearfounded           0
city                  0
arena                 0
arenacapacity         9
owner                 0
generalmanager        0
headcoach             1
dleagueaffiliation    0
facebook              0
instagram             0
twitter               0
dtype: int64

In [70]:
team_history.shape

(52, 5)

In [54]:
team_history.isnull().sum()

team_id             0
city                0
nickname            0
year_founded        0
year_active_till    0
dtype: int64

In [71]:
team_info_common.shape

(0, 26)

In [56]:
team_info_common.isnull().sum()

team_id              0
season_year          0
team_city            0
team_name            0
team_abbreviation    0
team_conference      0
team_division        0
team_code            0
team_slug            0
w                    0
l                    0
pct                  0
conf_rank            0
div_rank             0
min_year             0
max_year             0
league_id            0
season_id            0
pts_rank             0
pts_pg               0
reb_rank             0
reb_pg               0
ast_rank             0
ast_pg               0
opp_pts_rank         0
opp_pts_pg           0
dtype: int64